.uploadButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 24px;
  vertical-align: top;
}

.uploadButton:hover {
  background-color: #45a049;
}

.fileInput {
  display: none;
}

.fileInputLabel {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 24px;
  vertical-align: top;
}

.deleteButton {
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transform: translate(-185%, 80%);
}

.deleteButton:hover {
  background-color: #ff5555;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.link_to_2 {
  color: #222;
  text-decoration: none;
  font-size: 24px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.swapped_all {
  position: absolute;
  font-size: 24px;
  left: 20px;
  bottom: 20px;
}

.face-api-canvas {
  position: absolute;
  z-index: 2;
  transform: translateX(-140%);
}

.link_to_2:hover {
  opacity: 0.5;
}

.maskOverlay {
  position: absolute;
  z-index: 3;
  transform: translateX(-140%);
}


.swappedFace {
  position: absolute;
  transform: translate(-140%, 60%);
}

.originalImage {
  position: absolute;
  transform: translate(-140%, 60%);
}

.swapped_all {
  background-color: #222;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
